.mediaViewInfo {
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Home;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Home {
	position: absolute;
	width: 1280px;
	height: 988px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
#header {
	opacity: 0.8;
	position: absolute;
	width: 1280px;
	height: 196px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Westboro_Big_Book_Study_Group_ {
	left: 348px;
	top: 63px;
	position: absolute;
	overflow: visible;
	width: 585px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(2,172,146,1);
}
#Alcoholics_Anonymous {
	left: 487px;
	top: 29px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 1px;
}
#Westboro_Big_Book_Study_Group__m {
	left: 517px;
	top: 239px;
	position: absolute;
	overflow: visible;
	width: 679px;
	height: 727px;
	line-height: 28px;
	margin-top: -2px;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(2,172,146,1);
	letter-spacing: 1px;
}
#hero_home {
	position: absolute;
	width: 565.363px;
	height: 609px;
	left: -90.181px;
	top: 263px;
	overflow: visible;
}
#Group_97 {
	opacity: 0.695;
	position: absolute;
	width: 565.363px;
	height: 566.142px;
	left: 0px;
	top: 42.858px;
	overflow: visible;
}
#Group_98 {
	position: absolute;
	width: 565.363px;
	height: 566.142px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_95 {
	position: absolute;
	width: 565.363px;
	height: 566.142px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_99 {
	position: absolute;
	width: 565.363px;
	height: 566.142px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_93 {
	opacity: 0.62;
	position: absolute;
	width: 565.363px;
	height: 566.142px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_92 {
	position: absolute;
	width: 565.363px;
	height: 566.142px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_100 {
	position: absolute;
	width: 565.363px;
	height: 566.142px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4982 {
	fill: rgba(221,250,255,1);
}
.Path_4982 {
	overflow: visible;
	position: absolute;
	width: 565.363px;
	height: 566.142px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#When_anyone_anywhere_reaches_o {
	left: 141.181px;
	top: 428px;
	position: absolute;
	overflow: visible;
	width: 378px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -2.5px;
	text-align: center;
	font-family: GoodDog;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(2,172,146,1);
	letter-spacing: 1px;
}
#Group_90 {
	position: absolute;
	width: 355.377px;
	height: 385.858px;
	left: 141.181px;
	top: 0px;
	overflow: visible;
}
#Group_89 {
	position: absolute;
	width: 355.377px;
	height: 385.858px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Repeat_Grid_1 {
	position: absolute;
	width: 685px;
	height: 20px;
	left: 298px;
	top: 142px;
	overflow: hidden;
}
#Group {
	position: absolute;
	width: 138px;
	height: 19px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Home_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 139px;
	height: 19px;
	line-height: 36px;
	margin-top: -10px;
	text-align: center;
	font-family: SF Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
	letter-spacing: 1px;
}
#Group_ {
	position: absolute;
	width: 138px;
	height: 19px;
	left: 179px;
	top: 0px;
	overflow: visible;
}
#Joe_and_Charlie {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 139px;
	height: 19px;
	line-height: 36px;
	margin-top: -10px;
	text-align: center;
	font-family: SF Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
	letter-spacing: 1px;
}
#Group_ba {
	position: absolute;
	width: 138px;
	height: 19px;
	left: 358px;
	top: 0px;
	overflow: visible;
}
#n_th_Tradition {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 139px;
	height: 19px;
	line-height: 36px;
	margin-top: -10px;
	text-align: center;
	font-family: SF Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
	letter-spacing: 1px;
}
#Group_bb {
	position: absolute;
	width: 138px;
	height: 19px;
	left: 537px;
	top: 0px;
	overflow: visible;
}
#About_Us {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 139px;
	height: 19px;
	line-height: 36px;
	margin-top: -10px;
	text-align: center;
	font-family: SF Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
	letter-spacing: 1px;
}
#hotspot {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.hotspot {
	position: absolute;
	overflow: visible;
	width: 152px;
	height: 27px;
	left: 470px;
	top: 139px;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Joe_and_Charlie.html;
	cursor: pointer;
}
#hotspot_ {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.hotspot_ {
	position: absolute;
	overflow: visible;
	width: 131px;
	height: 27px;
	left: 662px;
	top: 139px;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: 7th_Tradition.html;
	cursor: pointer;
}
#hotspot_ba {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.hotspot_ba {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 27px;
	left: 856px;
	top: 139px;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: About_Us.html;
	cursor: pointer;
}